<div class="gamespace">
	<script src="js/main.js"></script>
	<link href="css/free-style.css" rel="stylesheet" type="text/css" />
	<div style="display:none" ; id='neewWAIT'>this</div>
	<div style="display:none" ; id='neewWAITSkin'>this</div>
	<div class="wrapper wrapper--colorful">
		<div class="wrapper__offset __no-transition">
			<div class="wrapper__wrapper">
				<div class="wrapper__space b-freebie">
					<div class="page-title">
						<h1>Bem Vindo!</h1>
					</div>
					<div class="breadcrumbs">
						<ul class="clearfix">
							<li>
								<img id="imagemusuario" style="border-radius:100%;" height="40" width="40" src="{{{ image }}}"></img>
								<span>{{{ name }}}</span>
							</li>
						</ul>
					</div>
					<div class="b-freebie-subnav">
						<button class="b-f-subnav-btn active" data-tab="b-freebie-conditions">Regulamentos</button>
						<button class="b-f-subnav-btn" data-tab="b-freebie-weeksplay">Regras</button>
					</div>
					<div class="b-freebie-tab b-freebie-conditions">
						<ol class="b-freebie-tips">
							<li>Bem Vindo ao Partiu Clan!!!</li>
							<li></li>
							<li>
								<font color="yellow">Vai abrir as inscrições todos os dias as 13h, Favor ao confirmar presença, verifique se você ta na lista.</font>
							</li>
							<li class="b-f-tips-item">O seu voto determinara o jogo em que você vai jogar, Exemplo: CS ganhou, então a preferência da fila vai ser para as pessoas que escolheram CS.</li>
							<li class="b-f-tips-item">As vagas serão preenchidas por ordem de inscrição. Em caso de desistência será convocado os suplentes caso houver.</li>
							<li class="b-f-tips-item">Sua vaga na partida vai ser cancelada após 10 minutos do horário marcado.</li>
							<li class="b-f-tips-item">Em caso de modificação do horário marcado todos serão notificados no Discord.</li>
						</ol>
					</div>
					<div class="b-freebie-tab b-freebie-weeksplay">
						<li class="b-f-tips-item">Sem SPAM</li>
						<li class="b-f-tips-item">@everyone deve ser utilizado somente quando necessario.</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>