<div class="gamespace">
	<div class="wrapper">
		<div class="wrapper__offset wrapper__offset--right">
			<div class="wrapper__wrapper wrapper__wrapper--align">
				<div class="wrapper__space tops">
					<div class="history">
						<div class="page-title">
							<h1>Partida em andamento:</h1>
						</div>
						<div class="breadcrumbs">
							<ul class="clearfix">
								<li>
									<span>Jogo escolhido: </span>
									<img id="gameimg" style="border-radius:100%;" height="40" width="40" src=""></img>
									<span id="gamename" style="color:white;"></span>
								</li>
							</ul>
							<ul class="clearfix">
								<li>
									<span>Data:</span>
									<span id="datematch" style="color:yellow;"></span>
								</li>
							</ul>
						</div>
						<div class="history__table stats" style="height:950px;">
							<table id="gameimgbackground"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>{{{ script }}} </script>