<div class="gamespace">	
	<div class="wrapper">
		<div class="wrapper__offset wrapper__offset--right">
			<div class="wrapper__wrapper wrapper__wrapper--align">
				<div class="wrapper__space tops">
					<div class="history">
							<div class="page-title">
								<h1>Rank:</h1>
							</div>
						<div class="history__table stats" style="height:2200px;">                   
							<table>
								<thead>
									<tr>
										<th class="__topPlace __center"><span>Numero</span></th>
										<th class="__topProfile"><span>Nome</span></th>
										<th class="__topGames __center"><span>Vitórias</span></th>
									</tr>
								</thead>
								<tbody id="tabela"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>{{{ script }}}</script>