<!DOCTYPE html>
<html>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<head>
		<title>Partiu Clan!!!</title>
		<script src="js/sweetalert.js"></script>
	</head>
	<body style="background-color:black;font-family:Verdana;">
		<script>
	        swal("{{{ title }}}", "{{{ description }}}", "{{{ icone }}}").then(() => 
	        {
                window.location = "{{{ redirect }}}";
            });
	    </script>
	</body>
</html>