<div class="gamespace">
	<script src="js/main.js"></script>
	<link href="css/free-style.css" rel="stylesheet" type="text/css" />
	<div style="display:none"; id='neewWAIT'>this</div>
	<div style="display:none"; id='neewWAITSkin'>this</div>
	<div class="wrapper wrapper--colorful">
		<div class="wrapper__offset __no-transition">
			<div class="wrapper__wrapper">
				<div class="wrapper__space b-freebie">
					<div class="page-title">
						<h1>Iniciar:</h1>
					</div>
					<div class="b-freebie-tab b-freebie-conditions" style="width:50%;margin:auto;">
						<div class="crash__btn hidden" style="padding-left:20px;">
							<form id="startform" action="startmatch" method="post">
								<a href="#" onclick="startform.submit();" class="bet-butt __silver  gologin" withdraw="false">
									<span>Iniciar Partida</span>
								</a>
							</form>
						</div>
						<div class="crash__btn hidden" style="padding-left:20px;">
							<form id="resetform" action="reset" method="post">
								<a href="#" onclick="resetform.submit();" class="bet-butt __silver  gologin" withdraw="false">
									<span>Resetar Fila</span>
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>